body {
  font-family: Arial, sans-serif;
  margin: 0;
}
footer {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden; 
  margin-top: 20px; 
}

#About, #Skills, #Projects, #Contact {
  background-attachment: fixed;
  min-height: 90vh;
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

section {
  opacity: 1;
  padding: 60px 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.section.section--hidden{
  opacity:0;
}
#skillBtnGroup {
  margin-left: -20px;
}
.dropdown-menu-right {
  right: 0; /* Forces the dropdown to align with the right edge of the parent */
  left: auto; /* Ensures it does not extend beyond the left side */
}
.close{
  position: absolute; top: 5px; 
  right: 10px; 
  outline: none; 
  border: none; 
  background: transparent;
}
#modalCenter {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  backdrop-filter: blur(3px); /* Blur effect */
  z-index: 1050; /* Adjust if needed to ensure it sits below the modal */
  backface-visibility: hidden; /* Prevent rendering issues */
  transform: translateZ(0); /* Force GPU rendering for smoother effects */
}
.carousel-inner {
  animation: nextSlideAnimation 2s infinite;
}
@keyframes nextSlideAnimation {
  from { opacity: 1; }
  to { opacity: 0.9; }
}
.pagination {
  cursor: pointer;
}
#Projects .carousel-inner {
  height: 86vh;
}

#Projects .carousel-item {
  height: 100%;
}

#Projects .carousel img {
  max-height: 100%;
  width: auto; 
  margin: 0 auto; 
}
.carousel > .carousel-inner > .carousel-item{
  height:50vh
}
#secondary-navigation > div{
  margin-top: 8px;
  width: 100vw;
}